# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# Data and outputs
data/
outputs/
*.joblib
*.pkl

# Jupyter
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
